<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <h1>タスク一覧</h1>

 <ul>
   <% @tasks.each do |task| %>
     <li><%= link_to task.id, task %> :<%= task.status %> &gt; <%= task.content %></li>
   <% end %>
 </ul>

 <%= link_to '新規タスクの投稿', new_task_path %>
 <%= link_to 'Logout', logout_path, method: :delete %>
 <!-- <%= link_to 'Sign up now!', signup_path%> --!>
<% else %>
 <%= link_to 'Login', login_path %>
<% end %>